<!DOCTYPE html>
<html lang="en">


<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>JesusHaus Blog</title>

    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>

<body>
    <div class="blog-container">
        <div class="blog-title">
            <h1> IKE's Blog</h1>
        </div>
    </div>
    {% for item in blogs reversed%}
    <br>
    <div class="blog-container">
        <div class="blog-title">
            <a href="/fullBlog/{{item.id}}">
                <h5> Title: {{item.title}}</h5>
                <p> {{item.date_published}}</p>
                <p>{{item.post_text | truncatewords:20}}</p>
            </a>
        </div>
    </div>
    <br>
    {%endfor%}
</body>

</html>